.nok {
  color: #fff;
  background-color: #db3b21;
  padding: 3px 8px;
  border-radius: 3px;
}

.ok {
  color: #fff;
  background-color: #1aaa55;
  padding: 3px 8px;
  border-radius: 3px;
}

.mat-radio-button {
  margin-left: 15px;
}
